{% extends 'base.html.twig' %}

{% block title %}
Movies page
{% endblock %}

{% block body %}
    
<h1 class="bg-blue-500 text-2xl text-center font-bold">Wooohohooh</h1>

<img src="{{ asset('build/images/image1.af2167de.jpg') }}" alt="empty">

{% endblock %}